.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width:100; 
}
.grid-container{
  width: 75%;
}

.button-row {
  margin-top: 2%;
  display: table-cell;
  width: 75%;
}
.flex-container-space-around {
  display: flex;
  justify-content: space-around;
  
}
.button-container{
  display: flex;
  justify-content: center;
}

.my-button{
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  color: black;
}
