<div class="app-container">
    <div class="grid-container">
        <app-grid>
        </app-grid>
    </div>
    <div class='button-row'>
        <div class="flex-container-space-around">
            <div class="button-container">
                <button mat-fab (click)="onClick(0)" [disabled]="columnFull(0)" id="0">
                    1
                </button>
            </div>
            <div class="button-container">
                <button mat-fab (click)="onClick(1)" [disabled]="columnFull(1)" id="1">
                    2
                </button>
            </div>
            <div class="button-container">
                <button mat-fab (click)="onClick(2)" [disabled]="columnFull(2)" id="2">
                    3
                </button>
            </div>
            <div class="button-container">
                <button mat-fab (click)="onClick(3)" [disabled]="columnFull(3)" id="3">
                    4
                </button>
            </div>
            <div class="button-container">
                <button mat-fab (click)="onClick(4)" [disabled]="columnFull(4)" id="4">
                    5
                </button>
            </div>
            <div class="button-container">
                <button mat-fab (click)="onClick(5)" [disabled]="columnFull(5)" id="5">
                    6
                </button>
            </div>
            <div class="button-container">
                <button mat-fab (click)="onClick(6)" [disabled]="columnFull(6)" id="6">
                    7
                </button>
            </div>
        </div>
    </div>
    <app-info-container></app-info-container>
</div>