.button-row {
  margin-top: 2%;
  display: table-cell;
  width: 75%;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  
}
.button-row button {
  display: table-cell;
  margin-right: 8px;
}
.button-container{
  display: flex;
  justify-content: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width:100; 
}

.grid-container{
  width: 75%;
}